h1 {
    text-align: center;
}

/**The three below is the css for personal information**/
th.number {
    text-align: left;
    font-weight: lighter;
}

th.email {
    text-align: center;
    font-weight: lighter;

}

th.home {
    text-align: right;
    font-weight: lighter;

}

/**CSS for Education information**/

td.bachelors {
    font-weight: bold;
}

td.assoc {
    font-weight: bold;
}
