h1 {
    text-align: center;
}

p.info {
    position: relative;
    text-align: left;
}

p.email {
    position: relative;
    text-align: center;
    top: -52px;
}

p.home {
    position: relative;
    top: -86px;
    text-align: right;
}
